body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: url('/assets/wengang-zhai-GU4F3Gbts_A-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #bdc3c7;

  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 24px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.mb-4 {
  margin-bottom: 4rem;
}

.footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
