:root {
  --background: url('/assets/alex-shutin-kKvQJ6rK6S4-unsplash.jpg');
  --background-blur: url('/assets/alex-shutin-kKvQJ6rK6S4-unsplash-blur.jpg');
}

body {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-image: var(--background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 1.5rem;
  line-height: normal;

  color: white;
  text-shadow: 2px 2px 3px black;

  transition: 0.2s ease-in-out;
}

.header {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.mb-4 {
  margin-bottom: 4rem;
}

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
